input[type=range] {
    -webkit-appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
    width: 100%; /* Указание параметра ширины требуется для Firefox. */
    margin-top: 2em;
    margin-bottom: 3em;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
    border-color: transparent;
    color: transparent;
 }  


 /* Специальные правила для браузеров на движках WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px solid rgb(45,105,228);
    border-radius: 10px;
    height: 23px;
    width: 23px;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -10px; /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
  }

  
  /* Тоже самое для Firefox */
  input[type=range]::-moz-range-thumb {
    border: 3px solid rgb(45,105,228);
    height: 23px;
    width: 23px;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
  }
  
  /* Тоже самое для IE */
  input[type=range]::-ms-thumb {
    border: 3px solid rgb(45,105,228);
    height: 23px;
    width: 23px;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: rgb(204,204,204);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(204,204,204);
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: rgb(204,204,204);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgb(204,204,204);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgb(204,204,204);
  }
  input[type=range]::-ms-fill-upper {
    background: rgb(204,204,204);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgb(204,204,204);
  }